/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* src/Navbar.css */

@media only screen and (min-width: 786px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 80px;
  }
}

/* mobile responsive navbar */

@media only screen and (max-width: 786px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
  }
}

.navbar a {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-brand a {
  font-size: 48px;
  font-style: italic;
}

.navbar-links {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
  list-style-type: none;
}

li::marker {
  content: " ";
}
